h1, h2 {
   text-align: center;
 }

 h3 {
   background-color: gray;
   color: white;
   margin-top: 0;
 }

table {
  width: 70%;
  margin: auto;
  text-align: center;
}

div {
  border: 1px dashed black;
}

td {
  border: 2px solid black;
  width: 10%;
  position: relative;
  cursor: url("img/crosshairs.png") 25 25, crosshair;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#container {
  box-sizing: border-box;
  display: flex;
  min-height: 100%;
  flex-flow: row wrap;
  border: 4px solid black;
}

#main, #battleship, #buttonBank, #torpedoBank {
  background-image: url(img/plateHorizontal.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#main {
  order: 1;
  flex-basis: 50%;
  flex-grow: 2;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left {
  order: 0;
  flex-basis: 24%;
  flex-grow: 1;
  flex-shrink: 2;
}

#right {
  order: 2;
  flex-basis: 24%;
  flex-grow: 1;
  flex-shrink: 2;
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
}

#battleship {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

#buttonBank {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

#console {
  flex-grow: 2;
  flex-basis: 70%;
  background-image: url(img/plateVertical.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#consoleWindow {
  background-color: black;
  border: white 2px solid;
  height: 65%;
  margin: 5%;
}

#torpedoBank {
  text-align: center;
}

#torpedoShelf {
  width: 90%;
  margin: 0 auto;
}

#show, #reset {
  margin: 20px auto;
  display: block;
}

.metal {

}

.hit {
  background-color: gray;
  background-image: url('img/torpedo.png');
  background-repeat: no-repeat;
  background-size: cover;
 }

.miss {
 background-color: red;
}

.torpedoImg {
  max-height: 50px;
  /*min-height: 25px;*/
}
